<div class="header">
  <div class="search-name-movie">
    <input type="text" class="insert-film" placeholder="Insira um nome de filme..." (keyup)="inputKeyUp($event)" [(ngModel)]="search">
      <div *ngIf="error.length != 0">
        <router-outlet> </router-outlet>
      </div>
  </div>
  <button class="btn btn-primary" (click)="searchMovie()">
    Search
  </button>
</div>

<section id="results" class="bg-light">
  <h1>Results of Search: {{actualSearch}}</h1>
  <table *ngIf="showPageNav()" class="table table-hover center-table">
      <tr>
        <td>
            <button  #previous (click) = "prevPage()" [disabled]="!showPrevButton()">Prev Page</button>
        </td>
        <td>
            {{service.pageIndex}}/{{totalPages}}
        </td>
        <td>
            <button  #next (click) = "nextPage()" [disabled]="!showNextButton()">Next Page</button>
        </td>
      </tr>
    </table>
  <table class="table table-hover center-table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Year</th>
          <th scope="col">Type</th>
          <th scope="col">Poster</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of resultsArray">
          <th scope="row">{{result.Title}}</th>
          <td>{{result.Year}}</td>
          <td>{{result.Type}}</td>
          <td><img src={{result.Poster}}/> </td>
        </tr>
      </tbody>
    </table>
</section>
